/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 19 nov. 2025, 13:05:01
    Author     : alejandro.huefer
*/

*{
    box-sizing: border-box;
    margin: 0;
}

header{
    display: flex;
    width: 100%;
    height: 15vh;
    background: rgb(243, 70, 70);
    font: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    height: 70vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#asignaturas{
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px;
    background: rgb(238, 144, 144);
}

.container h3{
    padding: 10px;
}

.container li{
    padding: 7px;
    list-style: none;
}

footer{
    display: flex;
    height: 15vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(243, 70, 70);
    color: black;
}

header h1{
    color: black;
}

header a{
    color: black;
    text-decoration: none;
}

.container{
    width: 100%;
}