/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 19 nov. 2025, 13:05:01
    Author     : alejandro.huefer
*/

*{
    box-sizing: border-box;
    margin: 0;
}

header{
    width: 100%;
    height: 15vh;
    background: red;
    font: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1{
    color: white;
}

header a{
    color: white;
    text-decoration: none;
}